@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');




body {
    background-color: #080250;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2, .typedbold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h3, h4, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.hero {
  margin: 0;
  padding: 0;
  background-image: url('assets/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 20px 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.marcatexto {
  padding: 0 5px;
  background: linear-gradient(
    to bottom, transparent 50%,
    #fff300 50%
  );
}