@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #080250;
}

.hero {
  margin: 0;
  padding: 0;
  background-image: url('assets/bg-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 20px 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.marcatexto {
  padding: 0 5px;
  background: linear-gradient(
    to bottom, transparent 50%,
    #afd0e6 50%
  );
}